---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import HowItWorks from '../components/HowItWorks';
import WhySection from '../components/WhySection';
import Pricing from '../components/Pricing';
import FinalCTA from '../components/FinalCTA';
import Footer from '../components/Footer';

import '../styles/global.css'
---

<Layout title="FlatPool - Flat search made simple">
  <main class="bg-green-50 bg-opacity-50">
    <Header />
    <Hero />
    <HowItWorks />
    <WhySection />
    <Pricing />
    <FinalCTA client:load/>
    <Footer />
  </main>
</Layout>
