<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>FlatPool - Flat search made easy</title>
		<meta name="description" content="Find your perfect flat with FlatPool. Instead of scrolling through unfiltered posts on facebook get notifications on new offers that meet your requirements!" />
		<meta name="author" content="FlatPool" />
		<meta name="keywords" content="flat, pool, search, easy, notifications, facebook, offers, filter, roommate" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
